.nome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -16%;
    margin-left: 560px
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 560px;
    margin-top: -14;
}

.prog {
     display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1px;
    margin-top: -3%;
}

.academico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 380px;
    margin-top: 5%;
}

.foto {
    width: 190px;
    height: 185px;
    display: flex;
    flex-direction: center;
    margin-left: 370px;
    margin-bottom: -5px;
}

.espaco1 {
display: flex;
flex-direction: row;
margin-left: 370px;
margin-top: -12px;
width: 250px;
}

.almoxarife {
    display: flex;
    flex-direction: row;
    margin-left: 29%;
    margin-top: -1%;
}

.data1 {
    display: flex;
    justify-content: center;
    margin-top: -3%;
    margin-left: -36%;
}

.qualificacoes1 {
      display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -1%;
    margin-left: 380px
}

.espaco2 {
    display: flex;
flex-direction: row;
margin-left: 370px;
margin-top: 12px;
width: 250px;
}

.devfrontend {
  display: flex;
    flex-direction: column;
    margin-left: 29%;
    margin-top: -1%;   
}

.data2 {
    display: flex;
    justify-content: center;
    margin-top: -3%;
    margin-left: -36%;
}

.qualificacoes2 {
       display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -1%;
    margin-left: 380px   
}

